* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1,
h2 {
    font-family: 'Forum', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}

.title-white {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9D8665;
}

.dark {
    color: #FFFFFF;
}

.border-bottom {
    padding-bottom: 26px;
    border-bottom: 3px solid #710707;
    &-red {
        border-bottom: 3px solid #710707;
        width: inherit;
    }
}



.header {
    background-color: #030303;
    height: 200px;
    display: flex;
    align-items: center;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    margin-right: 525px;
    div {
        transition: 0.3s all;
        &:hover {
            transition: 0.3s all;
            color: #9D8665;
        }
    }
}
.logo_footer {
    margin-right: 0;
}

.logo {
    background-image: url(./assets/img/logo.svg);
    width: 49px;
    height: 26px;
    margin-right: 20px;
    &__text {
        color: #FFFFFF;
        font-size: 28px;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-family: 'Forum', sans-serif;
    }
}

.nav {
    &_container {
        display: flex;
        max-width: 720px;
        li {
            margin-right: 76px;
            font-size: 22px;
            letter-spacing: 2px;
            color: #FFFFFF;
            a {
                font-weight: 200;
                transition: 0.3s all;
                &:hover {
                    transition: 0.3s all;
                    color: #9D8665;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.welcome {
    height: 750px;
    background: url("./assets/img/background.jpg") no-repeat;
    background-position: calc(100% - 0px) calc(100% - 10px);
    background-color: #000000;
    &_title {
        padding-top: 114px;
    }
    &_subtitle {
        font-size: 28px;
        color: #FFFFFF;
        margin-top: 26px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }
    &_btn {
        margin-top: 77px;
        background-color: #710707;
        width: 360px;
        height: 75px;
        border-radius: 10px;
        border: none;
        font-size: 21px;
        letter-spacing: 2px;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            transition: 0.3s all;
            background-color: #9D8665;
        }
    }
}

.visiting {
    height: 1270px;
    &_title {
        margin-top: 74px;
    }
    &_cards {
        &_wrapper {
            padding-top: 75px;
            max-width: 1440px;
            display: flex;
            flex-wrap: wrap;
            gap: 77px 60px;
        }
        &_title {
            font-size: 32px;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-top: 25px;
            font-weight: 400;
        }
        &_underline {
            margin: 9px 0;
            width: 300px;
            height: 2px;
            background-color: #710707;
        }
        &_tour {
            font-size: 22px;
            font-weight: 200;
        }
        &_subtitle {
            font-size: 18px;
            margin-top: 11px;
            font-weight: 200;
        }
    }
}


.explore {
    height: 865px;
    background-color: #000000;
    &_wrapper {
        padding-top: 75px;
        display: flex;
        justify-content: space-between;
    }
    &_title {
        display: inline;
        padding-bottom: 26px;
    }
    &_text {
        margin-top: 81px;
        color: #ffffff;
        max-width: 650px;
        font-size: 22px;
        &_color {
            color: #CAAA7D;
        }
    }
}

.video {
    height: 1100px;
    justify-content: center;
    align-items: center;
    display: flex;
    &_title {
        &_wrapper {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &_text {
        width: 720px;
        font-size: 22px;
        text-align: justify;
        h3 {
            font-weight: 300;
        }
    }
}

.tickets {
    height: 893px;
    background-color: #000000;
    &_title {
        padding-top: 75px;
    }
    &_content {
        &_wrapper {
            margin-top: 75px;
            display: flex;
        }
        &_img {
            margin-right: 60px;
        }
        &_buy {
            display: flex;
            justify-content: space-between;
            color: white;
            width: 660px;
        }
        &_type {
            &_title {
                font-size: 28px;
                font-weight: 700;
            }
            &_radio {
                font-size: 22px;
                font-weight: 300;
                &_wrapper {
                    display: flex;
                    flex-direction: column;
                }
                margin-top: 51px;
            }
        }
        &_amount {
            color: #FFFFFF;
            &_title {
                font-size: 28px;
                font-weight: 700;
                text-align: end;
            }
            &_age {
                margin-top: 11px;
                font-size: 22px;
                font-weight: 300;
            }
            &_wrapper {
                margin-top: 14px;
                height: 50px;
                padding: 6px;
                border: 3px solid #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                &_number {
                    all: unset;
                    font-size: 32px;
                    text-align: center;
                }
                &_btn {
                    font-size: 32px;
                    border: none;
                    background-color: unset;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
            &_price {
                margin-top: 50px;
                font-size: 28px;
                font-weight: 700;
            }
            &_btn {
                margin-top: 50px;
                margin-right: 10px;
                background-color: #FFFFFF;
                width: 175px;
                height: 50px;
                font-size: 22px;
                font-weight: 300;
                letter-spacing: 2px;
                transition: 0.3s all;
                cursor: pointer;
                &:hover {
                    transition: 0.3s all;
                    background-color: #9D8665;
                    color: black;
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.contacts {
    height: 865px;
    &_title {
        margin-top: 75px;
    }
    &_wrapper {
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
    }
    &_info {
        &_title {
            font-size: 28px;
            padding-bottom: 15px;
            font-weight: 500;
        }
        &_information {
            margin-top: 21px;
            font-weight: 300;
            a {
                color: black;
                margin-top: 21px;
                font-weight: 300;
                transition: 0.3s all;
                &:hover {
                    transition: 0.3s all;
                    color: #9D8665;
                }
            }
        }
    }
}

.footer {
    height: 300px;
    background-color: #000000;
    &_wrapper {
        padding-top: 74px;
        display: flex;
        justify-content: space-between;
    }
    &_logo {
        color: #FFFFFF;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &_nav {
        width: 352px;
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        letter-spacing: 2px;
        &_li {
            margin-bottom: 25px;
            a {
                font-weight: 200;
                &:hover {
                    transition: 0.3s all;
                    color: #9D8665;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &_socials {
        display: flex;
        margin-top: 78px;
        &_social {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &_circle {
            width: 50px;
            height: 50px;
            border: 1px solid white;
            border-radius: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
